*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    overflow: auto;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    background: #242d3a;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #12151C;
    border-radius: 1em;
}

body{
    background-color: #1B222C;
}

footer{
    background-color: #12151C;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

a{
    text-decoration: none;
}

#heading{
    position: relative;
    border-style: solid;
    border-radius: 15px;
    border-color: #12151C;
    background-color: #12151C;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
    min-width: 1715px;
    left: -3px;
}

@media only screen and (max-width: 800px) {
    #heading {
        width: auto;
        min-width: 0;
        margin: 0;
        padding: 20px;
    }
}

#heading_text{
    margin-top: 10px;
}

#github{
    width: 90px;
    margin-top: -100px;
    margin-left: 10px;
    float: left;
}

#reddit{
    width: 90px;
    margin-top: -100px;
    margin-left: 110px;
    float: left;
}

#grid-cont{
    display: grid;
    grid-template-columns: repeat(5, 320px);
    grid-template-rows: repeat(2, 450px);
    grid-row-gap: 40px;
    margin-left: 7%;
}

@media only screen and (max-width: 800px) {
    #grid-cont{
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: repeat(2, 450px);
    }
}

.scrap{
    border-style: solid;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-color: white;
    background-color: #191D26;
    color: black;
}

.scrap:hover{
    box-shadow: -10px 12px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -10px 12px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 12px 15px 0px rgba(0,0,0,0.75);
    top: -30px;
}

.scrap_title{
    color: white;
    position: relative;
    left: 18px;
    top: -15px;
    margin-top: 20px;
}

.language{
    width: 40px;
    position: relative;
    top: 13.5px;
    right: -8px;
}

.scrap_desc{
    font-size: 22px;
    text-align: center;
}

#keylogger{
    width: 190px;
    position: relative;
    left: 33px;
    bottom: 20px;
}

#mysql{
    width: 190px;
    position: relative;
    left: 33px;
    bottom: -8px;
}

#tkinter{
    width: 170px;
    position: relative;
    left: 45px;
    bottom: 5px;
}

#todo{  
    width: 150px;
    position: relative;
    left: 50px;
    bottom: -20px;
}

#terminal{  
    width: 190px;
    position: relative;
    left: 37px;
    bottom: 10px;
}

#sources{
    color:#3c3d3d
}

#source_code{
    color: #6d7177;
}